<footer>
  <div class="footer-item">
    <p>&copy; 2024 Spotify Browser. All rights reserved.</p>
  </div>
  <div class="footer-item">
    <p>
      This application is not affiliated with or endorsed by Spotify. Spotify is a registered trademark of Spotify AB.
    </p>
  </div>
  <div class="footer-item">
    <div class="footer-icons">
      <a [href]="'mailto:' + email" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/email.svg" alt="email icon">
      </a>
      <a [href]="github" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/github.svg" alt="github icon">
      </a>
      <a [href]="linkedin" target="_blank" rel="noopener noreferrer">
        <img src="../../assets/linkedin.svg" alt="linkedin icon">
      </a>
    </div>
  </div>
</footer>
