article {

  .link {

    &:hover {
      cursor: pointer;
    }
  }

  .album-container {
    display: flex;
    flex-direction: row;
    margin: 15px;

    .album-cover {
      max-width: 100%;
      border-radius: 8px;
    }

    .album {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 10px 15px;

      h1 {
        font-weight: bold;
        padding: 0 0;
        margin: 0 0;
        font-size: 84px;
      }

      p, li, span {
        margin: 2px 0;
      }

      .album-artists {
        font-weight: bold;
      }

      .spotify-url {
        display: flex;
        align-items: center;

        .spotify-icon {
          margin-right: 10px;
          max-width: 24px;
        }
      }

      .album-info {
        display: flex;

        ul {
          display: flex;
        }

        li {
          margin-bottom: 12px;
        }
      }
    }

  }

  .track-table {
    width: 100%;
    height: 100%;
  }

  table {
    width: 100%;

    img {
      width: 100%;
      max-width: 16px;
    }

    th, td {
      margin: 5px 10px;
    }

    .tracks {
      display: flex;
      flex-direction: column;
      width: 100%;

      .track {
        align-items: center;
        display: flex;
        width: 100%;
        font-size: 18px;

        white-space: nowrap;
        text-wrap: nowrap;
        text-overflow: ellipsis;

        .track-number {
          text-align: right;
          justify-content: right;
          width: 25px;
          max-width: 100%;
        }

        .title {
          width: 100%;
          text-align: left;

          .track-name {
            font-weight: bold;
          }

          .artists {
            display: flex;
          }

          .artist-name {
            font-size: 16px;
          }
        }

        .duration {
          text-align: center;
          width: 100px;
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .album-container {
      display: flex;
      flex-direction: column;

      .album {
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
          font-size: 64px;
        }

        .album-info {

          display: flex;
          flex-direction: column;

          li, p {
            margin: 2px 0;
          }


          span {
            display: none;
          }
        }

        a {
          margin-top: 10px;
        }
      }
    }

    .track-table {

      table {

        .tracks {

          .track {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            text-wrap: wrap;

            .track-number, .title, .duration {
              text-align: center;

            }

            .title {

              .artists {
                display: flex;
                flex-direction: column;

                .artist-name {

                  span {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 480px) {

    .album-container {

      .album {

        h1 {
          font-size: 28px;
        }
      }
    }
  }

}
