<article>
  <section class="track-container">
    <img class="album-cover" [src]="images | imageSize: 'medium'" alt="album cover">
    <div class="track">
      <p>{{ type | capitalize }}</p>
      <h1>{{ name }}</h1>
      <div class="track-info">
        <p class="artist-name link" routerLink="/artist" routerLinkActive="active" [queryParams]="{ id: mainArtist.id }">{{ mainArtist.name }}</p>
        <span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>
        <p class="link" routerLink="/album" routerLinkActive="active" [queryParams]="{ id: albumId }">{{ albumName }}</p>
        <span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>
        <p>{{ releaseDate | dateFormat: "y" }}</p>
        <span>&nbsp;&nbsp;&bull;&nbsp;&nbsp;</span>
        <p>{{ duration | durationFormat: "short" }}</p>
      </div>
      <a class="spotify-url link" [href]="urlToSpotify">
        <img class="spotify-icon" src="../../assets/spotify.svg" alt="spotify icon">Open at Spotify
      </a>
    </div>
  </section>

  <aside>
    <h2>Tracks you may like</h2>
    <table>
      <tbody *ngIf="relatedTracks && relatedTracks.length > 0">
        <tr *ngFor="let track of relatedTracks">
          <td><img [src]="track.album.images | imageSize: 'small'" alt="album cover"></td>
          <td class="link" routerLink="/tracks/track" routerLinkActive="active" [queryParams]="{ id: track.id }">
            {{ track.name }}
          </td>
          <td class="link" routerLink="/artists/artist" routerLinkActive="active" [queryParams]="{ id: track.artists[0].id }">
            {{ track.artists[0].name }}
          </td>
          <td>{{ track.duration_ms | durationFormat: "short" }}</td>
        </tr>
      </tbody>
    </table>
  </aside>
</article>
